name: 'Terraform Destroy'

on:
  workflow_dispatch:   

permissions:
  contents: read
  id-token: write

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      
      - name: Checkout
        uses: actions/checkout@v3

     
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/771636091678/locations/global/workloadIdentityPools/github-demo-pool/providers/github'
          service_account: 'github-wif@majestic-post-487306-p4.iam.gserviceaccount.com'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

     
      - name: Terraform Init
        run: terraform init


      - name: Terraform Destroy
        run: terraform destroy -auto-approve
